* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', 'Prompt', 'Mitr', 'Noto Sans Thai', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    max-width: 1096px;
    width: 85%;
    margin: 0 auto;
    font-size: 1rem;
}

header,
footer {
    width: 100%;
    height: 4rem;
}

main {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex-grow: 1;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

a:hover {
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.contact-btn {
    padding: 0.5rem 1.5rem;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: black;
    color: white;
}

.login-btn {
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #ED5565;
    color: white;
}

.logout-btn {
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #ED5565;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title {
    font-size: clamp(1.8rem, 5vw, 3rem);
    font-weight: 600;
    white-space: nowrap;
}

.msu {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 500;
    white-space: nowrap;
}

.border-descriptions {
    margin-top: 1.5rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    line-height: 1.5;
}


.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
}

.search-input {
    width: 100%;
    padding: 1rem 70px 1rem 1.5rem;
    font-size: 1.1rem;
    border: 2px solid #6d6d6d;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: black;
}

.search-btn {
    position: absolute;
    right: 7px;
    top: 7px;
    bottom: 7px;
    padding: 0;
    background-color: #50C878;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: auto;
}

.search-btn:hover {
    background-color: #48C9B0;
    transform: scale(1.05);
}

.search-btn span {
    font-size: 1.8rem;
}

.select-title {
    align-self: flex-start;
    width: 100%;
    max-width: 85%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.select-title span {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    font-weight: 500;
    color: #222;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    max-width: 85%;
    align-self: flex-start;
    padding: 0 1rem;
}

.category-checkboxes {
    display: contents;
}


.category-checkboxes input[type="checkbox"] {
    display: none;
}


.category-checkboxes label {
    padding: 0.7rem 1.5rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    user-select: none;
    white-space: nowrap;
}

.category-checkboxes label:hover {
    background-color: #f0f0f0;
}

.category-checkboxes input[type="checkbox"]:checked+label {
    background-color: #ED5565;
    color: white;
    border-color: #ED5565;
}


.category-search-btn {
    padding: 0.7rem 2.7rem;
    background-color: #ED5565;
    color: white;
    border: 2px solid #ED5565;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    white-space: nowrap;

}

.category-search-btn:hover {
    background-color: #E57373;
    border-color: #E57373;
}

.category-search-btn:active {
    transform: scale(0.98);
}

.dropdown {
    position: relative;
    display: inline-block;
}

button {
    cursor: pointer;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-btn:hover {
    background-color: #FFCE54;
    color: white;
}

.menu-btn:active {
    background-color: #FFCE54;
    color: white;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s;
}

.dropdown-content a:hover {
    background-color: #FFCE54;
    color: white;
}



.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.show {
    display: block;
}

@media (max-width: 1024px) {
    body {
        width: 90%;
    }

    .title {
        font-size: clamp(3rem, 6vw, 4rem);
    }

    .category-container {
        max-width: 90%;
    }

    .select-title {
        max-width: 90%;
    }


}

@media (max-width: 900px) {
    body {
        width: 90%;
    }



    .category-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.8rem;
        max-width: 95%;
        padding: 0;
        align-self: flex-start;
    }

    .category-checkboxes {
        display: contents;
    }

    .category-checkboxes label {
        padding: 0.8rem 0.5rem;
        text-align: center;
        font-size: 0.95rem;
    }

    .category-search-btn {
        padding: 0.8rem 0.5rem;
    }


    .search-container {
        margin-top: 1.5rem;
    }

    .select-title {
        margin-top: 2rem;
        margin-bottom: 0.8rem;
    }

    .search-input {
        font-size: 1rem;
        padding: 0.9rem 60px 0.9rem 1.2rem;
    }

    .search-btn {
        width: 50px;
    }

    .search-btn span {
        font-size: 1.5rem;
    }

    .contact-btn,
    .login-btn {
        font-size: 1rem;
        padding: 0.4rem 1.2rem;
    }

    .logout-btn {
        font-size: 1rem;
        padding: 0.4rem 1.2rem;
    }

    header h1 {
        font-size: 1.5rem;
    }
}


@media (max-width: 480px) {
    body {
        width: 95%;
        font-size: 0.9rem;
    }

    footer {
        height: 3rem;
    }

    .contact-btn {
        display: none;
    }


    .title {
        font-size: clamp(2.2rem, 6vw, 2.5rem);
        white-space: normal;
        text-align: center;
        line-height: 1.2;
    }

    .msu {
        font-size: clamp(1.7rem, 6vw, 2.5rem);
        white-space: normal;
        text-align: center;
        margin-bottom: 1.5rem;
        line-height: 1.2;
    }

    .border-descriptions {
        display: none;
    }



    .category-checkboxes {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
    }

    .category-checkboxes label {
        padding: 0.7rem 0.3rem;
        font-size: 0.85rem;
    }


    .category-search-btn {
        padding: 0.7rem 0.3rem;
        font-size: 0.85rem;
    }

    .search-input {
        font-size: 0.9rem;
        padding: 0.8rem 55px 0.8rem 1rem;
    }

    .search-input::placeholder {
        font-size: 0.85rem;
    }

    .search-btn {
        width: 45px;
    }

    .search-btn span {
        font-size: 1.3rem;
    }


    nav {
        gap: 0.5rem;
    }

    .nav-buttons {
        gap: 0.5rem;
    }

    .contact-btn,
    .menu-btn,
    .login-btn {
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
    }

    .logout-btn {
        font-size: 0.9rem;
        padding: 0.4rem 1rem;
    }


    header h1 {
        font-size: 1.3rem;
    }


    .select-title {
        margin-top: 2rem;
        margin-bottom: 0.8rem;
    }
}


@media (max-width: 360px) {
    footer {
        height: 2rem;
    }

    .category-checkboxes label {
        padding: 0.6rem 0.2rem;
        font-size: 0.8rem;
    }

    .category-search-btn {
        padding: 0.6rem 0.2rem;
        font-size: 0.8rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .msu {
        font-size: 1.2rem;
    }

    .search-input::placeholder {
        font-size: 0.75rem;
    }
}

.custom-font {
    font-family: 'Kanit', 'Prompt', 'Mitr', 'Noto Sans Thai', sans-serif !important;
}

.notification-dot {
    width: 10px;
    height: 10px;
    background-color: #ff4d4d;
    border-radius: 50%;
    display: inline-block;
}

.menu-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid white;
}


.list-dot {
    margin-left: auto;
}


.menu-btn {
    position: relative;

}